nav ul li {
  display: inline;
}

nav ul li:hover {
  background-color: gray;
  border: solid;
  transition: 0.5s ease;
}

/*needs to be fixed*/
/*nav ul li a:hover {
  background-color: gray;
  border: solid;
  transition: font-size 12s ease;
}*/

div {
  text-align: center;
}

button {
  padding: 10px;
}

button:nth-child(1) {
  background-color: red;
}

button:nth-child(2) {
  background-color: blue;
}

button:nth-child(3) {
  background-color: green;
}

button:nth-child(1):hover {
  background-color: #800020;
}

button:nth-child(2):hover {
  background-color: #000080;
}

button:nth-child(3):hover {
  background-color: #006400;
}